{
    "irc_nick":"changeme",
    "irc_password":"verras3crit",
    "irc_server":"irc.freenode.net",
    "irc_port":6667,
    "xmpp_jid":"jid@change.me",
    "xmpp_password":"secretchangeme",
    "channels":{
        "chat@im.partych.at":{
            "type":"broken_xmpp",
            "http_gateway":"http://partychat-hooks.appspot.com/post/my_id"
        },
        "#heartofgold":{
            "type":"irc"
        },
        "goodchat@server.domain.com":{
            "type":"xmpp",
        }
    }
}
