{
    "irc_nick":"changeme",
    "irc_password":"verras3crit",
    "irc_server":"irc.freenode.net",
    "irc_port":6667,
    "xmpp_jid":"jid@change.me",
    "xmpp_password":"secretchangeme",
    "channels":{
        "#testchangeme":"irc",
        "chat@ippartych.at":"xmpp"
    }
}
